@model System.Collections.Generic.List<UltraHyperOpenConference.Model.Theme>

@{
    ViewData["Title"] = "Themes";
}

<form>
    <input type="text" name="keyword">
    <button type="submit" asp-action="SearchByKeyword">Send</button>
</form>

<ul class="list-group">
    @foreach (var theme in Model)
    {
        if(theme.IsArchived)
            continue;
        
        <li class="list-group-item"><a asp-controller="Conference" asp-action="ThemeChat" asp-route-themeId="@theme.Id">@theme.Name</a></li>
    }
    
    @if (User.Identity?.IsAuthenticated == true)
    {
        <li class="list-group-item"><a asp-controller="Conference" asp-action="CreateTheme">+ Create new theme</a></li>
    }
</ul>